{% extends 'foodSearch/base.html' %}
{% load static %}

{% block content %}

<header class="titlepage">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Ahoy<br>{{title}} !</h1>
      </div>
    </div>
  </div>
</header>

<section style="background-color:#de9440;" class="page-section" id="history">

  {% if user.is_authenticated %}

   <div class="container">
    <b>
      <p>Nom d'utilisateur : {{ user.username }} <a href="#" id="newName"title="Modfier" data-toggle="modal" data-target="#modal_change_username" ><i class="fas fa-edit"></i></a></p>
      <p>Adresse mail : {{ user.email }} <a href="#" id="newemail"title="Modfier" data-toggle="modal" data-target="#modal_change_email" ><i class="fas fa-edit"></i></a></p>
    </b>
   </div>
    <div class="row justify-content-center mt-3">
        <a class="btn btn-secondary" href="javascript:history.go(-1)" role="button">Retour</a>
    </div>

  {% else %}
    <div class="container">
      <b>
        <p>Vous n'êtes connecté à aucun compte utilisatieur</p>
        <a class="btn btn-secondary connection" data-toggle="modal" data-target="#modalLogIn">Se connecter</a>
      </b>
    </div>

  {% endif %}

</section>

{% endblock %}
