<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'foodSearch/headerpages.html' with title='' %}

<section style="background-color:#de9440;" class="page-section text-white" id="services">
<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Votre mot de passe a été modifié.</p>
		<a class="connection btn btn-primary" data-toggle="modal" data-target="#modalLogIn">Se connecter</a>
	</div>
</div>
</section>

{% endblock %}
